<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="style/weather.css">
</head>
<body>
    <h1>The weather in {{city}}</h1>
    <p>Temperature: {{temp}}°C</p>
    <p>Feels like: {{feels}}°C</p>
    <p>Humidity: {{humidity}}</p>
    <p>Wind speed: {{wind}}</p>
    <p>Main weather: {{main}}</p>
    <p>Weather description: {{desc}}</p>
</body>
</html>