body {
    background-color: #6775d2;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 30px;
    color: #000000;
    margin-bottom: 15px;
}


p {
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;

}

